*{
    font-family: 'Montserrat', sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #f6f6f6;
    position: relative;
    overflow: hidden;
}

header{
    z-index:2;
    background-color: transparent;
}
/*5d13e7*/
section{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    background: url("../img/1614724658_184-p-foni-dlya-lendinga-216.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.p{
    display: block;
}

section:not(:first-child){
    top: -1000px;
}

.scrollAnimBottom{
    transition-duration: 1.5s;
    transition-property: top;
}

.scrollAnimTop{
    transition-duration: 1.5s;
    transition-property: top;
}

.telegram{
    position: absolute;
    opacity: 0.1;
    width: 64px;
}

.activated{
    transition: 0.3s ease border-bottom;
    border-radius: 0;
}

.nav-pills .nav-link{
    border-radius: 0;
}

.nav-link{
    padding-bottom: 3px
}